<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>Nolan Kurylo</title>
        <!--Bootstrap CSS from CDN-->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- Font aweseme -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
            integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <!-- AOS Scroll -->
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        <!--Local style sheets-->
        <link rel="stylesheet" href="../static/css/index.css">
    </head>

    <body>
        <div id="page-container">
            <div id="content-wrap">
                <header>
                    <nav class="navbar black-background fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
                        <a class="navbar-brand" href="/"><strong>Nolan's Github Website</strong></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item">
                                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Projects </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item " href="./app.html">House Sharing - Mobile App</a>
                                        <a class="dropdown-item" href="./securityapp.html">Security Camera
                                            Application</a>
                                        <a class="dropdown-item" href="./ergonomyx.html">Ergonomyx E-commerce
                                            Website</a>
                                    </div>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link" href="#">About Me</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </header>
                <div class="container">
                    <div class="row align-items-center" style="margin-bottom: 100px; margin-top: 100px;">
                        <div class="col-md-5 col-sm-12">
                            <img style="border-radius: 15px;" src="../static/img/about.png" alt="Me and My Dad, Roman" height="450" width="390">
                        </div>
                        <div class="col-md-7 col-sm-12 text-left">
                            <h1 class="h1-title">A Little About Myself</h1>
                            <br>
                            <p>
                                I am 21 years old from Calgary, AB. I have a younger brother, Carson, two loving parents 
                                Shelly and Roman (image on the left) and a dog named Tiger. For my entire childhood, I played many different sports.
                                I have always been into hockey, football, golf and soccer. 
                            </p>
                            <p>
                                Before entering high school, I chose to pursue hockey as my main sport. After completion of high school, I moved on to play 
                                Junior Hockey in the Alberta Junior Hockey League (AJHL) for the Canmore Eagles, as well as the Kootenay International Junior 
                                Hockey League (KIJHL) for the Kimberley Dynamiters.
                            </p>
                            <p>
                                I learned a lot during my time playing hockey. I believe the sport has helped improve my respect, manners and ability to interact
                                with others. I consider all of these traits to be valuable in any profession, whether it be hockey or software engineering.
                            </p>
                            <p>
                                Before the end of my hockey career, I had to make a decision in continuing to play hockey or start my education in pursuit of an 
                                engineering degree. Upon entering university, I knew that I wanted to do engineering but unsure of the specific field.

                            </p>
                            <p>
                                After taking an introductory course to the fundementals of C programming, I fell in love with the idea to program systems.
                                Since my decision to pursue the software engineering discipline, I have never looked back. I am eager to continue my education and obtain
                                experience to further my development.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <footer id="footer">
                <div class="page-footer font-small special-color-dark pt-4">
                    <ul class=" social">
                        <li class="list-inline-item fb"><a class="btn-floating mx-1"
                                href="https://www.facebook.com/profile.php?id=100009207184261"><i
                                    class="fab fa-facebook-f"> </i></a></li>
                        <li class="list-inline-item tw"><a class="btn-floating mx-1"
                                href="https://twitter.com/nolankurylo"><i class="fab fa-twitter">
                                </i></a></li>
                        <li class="list-inline-item li"><a class="btn-floating mx-1"
                                href="https://www.linkedin.com/in/nolan-kurylo-03bb2a154/"><i
                                    class="fab fa-linkedin-in"> </i></a></li>
                        <li class="list-inline-item gi"><a class="btn-floating mx-1"
                                href="https://github.com/nolankurylo"><i class="fab fa-github"></i></a></li>
                    </ul>
                </div>
            </footer>
        </div>
    </body>
    <!-- Ajax -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <!--Bootstrap Javascript-->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <!-- AOS Scroll -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <!-- Local Java Scripts -->
    <script src="../static/js/index.js"></script>

</html>