<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>Nolan Kurylo</title>
        <!--Bootstrap CSS from CDN-->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- Font aweseme -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
            integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <!-- AOS Scroll -->
        <!-- AOS Scroll -->
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        <!--Local style sheets-->
        <link rel="stylesheet" href="../static/css/index.css">
    </head>

    <body>
        <div id="page-container">
            <div id="content-wrap">
                <header>
                    <nav class="navbar black-background fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
                        <a class="navbar-brand" href="/"><strong>Nolan's Github Website</strong></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item">
                                    <a class="nav-link" href="/">Home </a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Projects </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" href="./app.html">House Sharing - Mobile App </a>
                                        <a class="dropdown-item active" href="#">Security Camera Application<span class="sr-only">(current)</span></a>
                                        <a class="dropdown-item" href="./ergonomyx.html">Ergonomyx E-commerce Website</a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="./about.html">About Me</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </header>
                
                <div class="container">
                    <div class="row " style="margin-bottom: 100px; margin-top: 150px;">
                        <div class="col-md-5 col-sm-12">
                            <img src="../static/img/pi.png" alt="Raspberry Pi 3" style="border-radius: 12px;" height="260" width="320">
                        </div>
                        <div class="col-md-7 col-sm-12 text-left">
                            <h1 class="h1-title">Security Camera Application</h1>
                            <br>
                            <p>
                                During the summer of 2019, I was completing the second half of my 8-month 
                                (first) co-op at Ergonomyx Technologies Canada. While I enjoyed the web development aspect of my position,
                                I was eager to learn about embedded systems and how the software of an application interacted at the hardware level.
                            </p>
                            <p>
                                I decided to start working on a project that would introduce me to embedded systems combined with some of 
                                my web development knowledge. 
                            </p>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-md-7 col-sm-12 text-left">
                            <br>
                            <p>
                                The project consists of a Raspberry Pi 3, Camera, and Passive Infrared (PIR) Sensor.
                                Connected by a breadboard, the PIR sensor is activated when motion is detected within
                                the vicinity. Upon the sensor being activated, the camera that is directly connected to 
                                the Pi begins recording. 
                            </p>
                            <p>
                                After 5 seconds, the video recording is saved and sent via HTTP protocal to a remote Node.js web
                                server. Upon the request to the server being received successfully, the Pi's program awaits
                                the next detection of movement. 
                            </p>
                        </div>
                        <div class="col-md-5 col-sm-12 text-center">
                            <img src="../static/img/bb.jpg" alt="PIR Sensor" style="border-radius: 15px;" height="340" width="360">
                        </div>
                    </div>
                    <div class="row align-items-center" style="margin-bottom: 100px; margin-top: 100px;">
                        <div class="col-md-5 col-sm-12">
                            <div class="row">
                                <div class="col">
                                    <img src="../static/img/website.png" alt="Mobile App " height="300" width="400">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-12 text-left">
                            On the web server side, when the request from the Pi is received, the image is converted into JPG format
                            and saved locally. Also, the image's information (filename, timestamp, etc.) is saved in a MongoDB database.
                            Once the information has been properly stored, a text message is sent to my phone via Twilio to alert me of the detection.
                            The web server also hosts a local website that displays each video clip with the ability to manage each video and its information,
                            as seen to the left. 
                        </div>
                    </div>
                </div>
            </div>
            <footer id="footer">
                <div class="page-footer font-small special-color-dark pt-4">
                    <ul class=" social">
                        <li class="list-inline-item fb"><a class="btn-floating mx-1"
                                href="https://www.facebook.com/profile.php?id=100009207184261"><i
                                    class="fab fa-facebook-f"> </i></a></li>
                        <li class="list-inline-item tw"><a class="btn-floating mx-1"
                                href="https://twitter.com/nolankurylo"><i class="fab fa-twitter">
                                </i></a></li>
                        <li class="list-inline-item li"><a class="btn-floating mx-1"
                                href="https://www.linkedin.com/in/nolan-kurylo-03bb2a154/"><i
                                    class="fab fa-linkedin-in"> </i></a></li>
                        <li class="list-inline-item gi"><a class="btn-floating mx-1"
                                href="https://github.com/nolankurylo"><i class="fab fa-github"></i></a></li>
                    </ul>
                </div>
            </footer>
        </div>
    </body>
    <!-- Ajax -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <!--Bootstrap Javascript-->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <!-- AOS Scroll -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <!-- Local Java Scripts -->
    <script src="../static/js/index.js"></script>

</html>